.gallery {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: auto;
    }
}