#get-in-touch {
    background-image: linear-gradient(to right, var(--blue) 50%, var(--grey-4) 50%);
}

#get-in-touch .row {
    width: 1520px;
    margin: auto;
    padding: 175px 25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    align-items: center;
}

#get-in-touch h3 {
    color: var(--white);
}

#get-in-touch .col:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    #get-in-touch {
        background-image: linear-gradient(to bottom, var(--blue) 50%, var(--grey-4) 50%);
    }

    #get-in-touch .row {
        grid-template-columns: auto;
    }

    #get-in-touch .col:nth-child(2) {
        grid-template-columns: auto;
    }
}