header .row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    padding: 30px 25px;
}

header .row .col:nth-child(3) a {
    border-bottom: 1px solid;
}

@media screen and (max-width: 768px) {
    header .row {
        grid-template-columns: repeat(2, auto);
    }

    header .col:nth-child(3) {
        display: none;
    }
}