#the-industry-best-are-on-the-board .row {
    max-width: 1320px;
    margin: auto;
    padding: 205px 25px 182px;
}

#the-industry-best-are-on-the-board h5 {
    text-align: center;
    margin-bottom: 90px;
}